Package: com.zjx.ioscontrol
Name: ZXTouch
Version: 0.1.1
Depends: python3, sudo, mobilesubstrate
Architecture: iphoneos-arm
Description: ZXTouch Main Application
Maintainer: Jason Z
Author: Jason Z
Section: Utilities
Conflicts: libactivator (<< 1.8.3)
Tag: role::developer
